@charset "UTF-8";
.section {
  width: 100%;
  /* 메인슬라이드 */
  /* 오늘의 책 */
  /* 공부서점 차트 */
  /* 눈돌리기 */
}
.section .sec_main {
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, rgba(230, 230, 230, 0.1) 50%, #e4e4f4);
  position: relative;
}
.section .sec_main .event_tap {
  width: 100%;
  height: 100%;
}
.section .sec_main .event_tap .event_li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  z-index: -1;
}
.section .sec_main .event_tap .event_li.on {
  display: flex;
  z-index: 100;
}
.section .sec_main .main_tap {
  width: 1140px;
  margin: 0 auto;
}
.section .sec_main .main_tap .tap_menu {
  width: 180px;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 1000;
}
.section .sec_main .main_tap .tap_menu li {
  padding: 0 20px;
  height: 57px;
  line-height: 57px;
  background-color: rgba(42, 42, 42, 0.8);
}
.section .sec_main .main_tap .tap_menu li.on {
  background-color: rgb(10, 10, 10);
}
.section .sec_main .main_visual {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section .sec_main .main_visual .visual_wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: relative;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide:not(:first-of-type) {
  visibility: hidden;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide .viewport {
  width: 100%;
  height: 100%;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide .visual_view {
  width: 2600px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide .visual_view li {
  width: 480px;
  height: 300px;
  margin-right: 40px;
  float: left;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f9f5ff, #fff);
  position: absolute;
  left: 0;
  cursor: pointer;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide .visual_view li .au {
  display: block;
  padding: 10px 0 0 10px;
  color: #999;
  font-weight: bold;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide .visual_view li strong {
  display: inline-block;
  width: 270px;
  font-size: 22px;
  padding: 10px;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide .visual_view li .thumb {
  width: auto;
  height: auto;
  box-shadow: 4px 4px 4px #333;
}
.section .sec_main .main_visual .visual_wrapper .visual_slide .visual_view li .thumb img {
  width: 150px;
  height: 200px;
  position: absolute;
  right: 50px;
  top: 50px;
  box-shadow: 4px 0 6px 1px #ddd;
}
.section .today {
  width: 100%;
  background: linear-gradient(to bottom, #e4e4f4, #fff);
}
.section .today .todayMD {
  width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
}
.section .today .todayMD h3 {
  font-size: 25px;
  display: inline-block;
  margin-right: 10px;
}
.section .today .todayBook {
  text-align: center;
}
.section .today .todayBook ul {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .today .todayBook ul li {
  width: 20%;
  height: auto;
  margin: 10px 20px 0 0;
}
.section .today .todayBook ul li a {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px;
  background: linear-gradient(to bottom, #f9f5ff, transparent);
}
.section .today .todayBook ul li a * {
  margin: 10px 0;
}
.section .today .todayBook ul li a p.con {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section .today .todayBook ul li a small {
  color: #898989;
}
.section .best {
  width: 100%;
}
.section .best .best_container {
  width: 1140px;
  margin: 30px auto;
}
.section .best .best_container .best_hd {
  font-size: 25px;
}
.section .best .best_container .best_cg {
  margin: 30px 0 15px 0;
}
.section .best .best_container .best_cg ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .best .best_container .best_cg ul li {
  padding: 5px 10px;
  border: 1px solid #111;
  border-radius: 20px;
  margin: 5px;
  width: 150px;
  text-align: center;
  transition: all 0.5s;
}
.section .best .best_container .best_cg ul li.on {
  color: #fff;
  background-color: #e4e4f4;
  border-color: #e4e4f4;
}
.section .best .best_container .best_box {
  border-top: 1px solid rgb(100, 100, 100);
  border-bottom: 1px solid rgb(100, 100, 100);
  width: 100%;
  height: 730px;
  display: flex;
}
.section .best .best_container .best_box .txt_item {
  width: 25%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}
.section .best .best_container .best_box .txt_item::-webkit-scrollbar {
  width: 3px;
}
.section .best .best_container .best_box .txt_item::-webkit-scrollbar-thumb {
  background-color: #111;
}
.section .best .best_container .best_box .txt_item::-webkit-scrollbar-track {
  background-color: rgba(100, 100, 100, 0.5);
}
.section .best .best_container .best_box .txt_item ul {
  width: 100%;
}
.section .best .best_container .best_box .txt_item ul:not(:first-of-type) {
  display: none;
}
.section .best .best_container .best_box .txt_item ul a {
  display: block;
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  padding: 15px 5px;
  font-size: 14px;
  color: #808080;
  transition: all 0.5s;
}
.section .best .best_container .best_box .txt_item ul a.on {
  border-bottom: 3px solid rgb(0, 50, 150);
}
.section .best .best_container .best_box .img_item {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
}
.section .best .best_container .best_box .img_item .img_li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.section .best .best_container .best_box .img_item .img_li li {
  width: 17%;
  max-width: 180px;
  height: 310px;
  margin-left: 15px;
  position: relative;
  flex-shrink: 1;
}
.section .best .best_container .best_box .img_item .img_li li .img_desc {
  margin: 10px 0;
}
.section .best .best_container .best_box .img_item .img_li li .img_desc * {
  margin: 5px 0;
}
.section .best .best_container .best_box .img_item .img_li li .img_idx {
  position: absolute;
  top: -15px;
  left: -1px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background-color: rgb(50, 50, 50);
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.section .best .best_container .best_box .img_item .img_li li .img_thumb {
  border: 1px solid #ddd;
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 10px;
}
.section .best .best_container .best_box .img_item .img_li li .img_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
}
.section .best .best_container .best_box .img_item .img_li li .img_au, .section .best .best_container .best_box .img_item .img_li li .img_pub {
  font-size: 13px;
}
.section .recom {
  width: 1140px;
  margin: 50px auto;
}
.section .recom .recom_hd {
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.section .recom .recom_hd h3 {
  font-size: 25px;
}
.section .recom .recom_hd p {
  color: #808080;
  margin: 5px 0 20px;
}
.section .recom .recom_content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px 0 40px 0;
  padding: 10px 0;
}
.section .recom .recom_content ul li {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.section .recom .recom_content ul li .recom_thumb img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(100, 100, 100);
  padding: 5px;
}
.section .recom .recom_content ul li .recom_desc {
  text-align: left;
  height: 60px;
}
.section .recom .recom_content ul li .recom_desc * {
  margin: 5px 0;
}
.section .recom .recom_content ul li .recom_desc .recom_genre {
  font-size: 12px;
}
.section .recom .recom_content ul li .recom_desc .recom_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
}
.section .recom .recom_content ul li .recom_desc .recom_au {
  color: rgb(100, 100, 100);
  font-size: 12px;
}
.section .recom .recom_offer {
  width: 100%;
}
.section .recom .recom_offer img {
  width: 100%;
}
.section .latest {
  width: 1140px;
  margin: 50px auto;
}
.section .latest .latest_hd {
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.section .latest .latest_hd h3 {
  font-size: 25px;
}
.section .latest .latest_hd p {
  color: #808080;
  margin: 5px 0 20px;
}
.section .latest .latest_content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px 0 40px 0;
  padding: 10px 0;
}
.section .latest .latest_content ul li {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.section .latest .latest_content ul li .latest_thumb img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(100, 100, 100);
  padding: 5px;
}
.section .latest .latest_content ul li .latest_desc {
  text-align: left;
  height: 60px;
}
.section .latest .latest_content ul li .latest_desc * {
  margin: 5px 0;
}
.section .latest .latest_content ul li .latest_desc .latest_genre {
  font-size: 12px;
}
.section .latest .latest_content ul li .latest_desc .latest_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
}
.section .latest .latest_content ul li .latest_desc .latest_au {
  color: rgb(100, 100, 100);
  font-size: 12px;
}
.section .latest .latest_offer {
  width: 100%;
}
.section .latest .latest_offer img {
  width: 100%;
}
.section .writer {
  width: 100%;
  overflow: hidden;
}
.section .writer .writer_hd {
  width: 1140px;
  margin: 30px auto;
}
.section .writer .writer_hd h3 {
  font-size: 25px;
}
.section .writer .writer_hd p {
  color: #808080;
  margin: 5px 0 20px;
}
.section .writer .writer_slide {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section .writer .writer_slide .wrt {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  height: auto;
  margin-right: 15px;
}
.section .writer .writer_slide .wrt a {
  display: block;
  border-radius: 60px;
  overflow: hidden;
  margin: 15px;
  text-align: center;
}
.section .writer .writer_slide .wrt span {
  display: block;
  text-align: center;
}
.section .writer .writer_slide .wrt span:first-child {
  font-weight: bold;
}
.section .writer .writer_slide .wrt span:last-child {
  font-size: 12px;
}
.section .addon {
  width: 1140px;
  margin: 30px auto;
}
.section .addon .addon_hd {
  margin: 30px 0;
}
.section .addon .addon_hd h3 {
  font-size: 25px;
}
.section .addon .addon_hd p {
  color: #808080;
  margin: 5px 0 20px;
}
.section .addon .addon_content {
  width: 100%;
  height: 100%;
}
.section .addon .addon_content ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .addon .addon_content ul li {
  width: 100%;
  height: 300px;
  margin: 10px;
}
.section .addon .addon_content ul li a {
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  height: 180px;
}
.section .addon .addon_content ul li a img {
  width: 100%;
  height: 100%;
}
.section .addon .addon_content ul li * {
  margin-bottom: 5px;
}
.section .addon .addon_content ul li h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
}
.section .addon .addon_content ul li > span {
  font-size: 12px;
}
.section .addon .addon_content ul li p span {
  color: #ff000f;
}
.section .banner {
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.section .banner ul {
  width: 300%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .banner ul li {
  width: 100%;
  height: 63px;
  position: relative;
}
.section .banner ul li div {
  width: 80%;
  margin: 0 auto;
}
.section .banner ul li img {
  position: absolute;
  bottom: 0;
}
.section .banner ul .banner_last img {
  height: 86px;
}
.section .banner .banner_btn {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  min-width: 1091px;
  height: 100%;
  position: absolute;
  left: 100px;
  top: 75px;
}
.section .banner .banner_btn a {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.section .banner .banner_btn a.prev {
  background-image: url("../img/banner_prev.png");
}
.section .banner .banner_btn a.next {
  background-image: url("../img/banner_next.png");
}
.section .library {
  width: 100%;
  overflow: hidden;
}
.section .library_hd {
  width: 1140px;
  margin: 30px auto;
}
.section .library_hd h3 {
  font-size: 25px;
}
.section .library_hd p {
  color: #808080;
  margin: 5px 0 20px;
}
.section .library_hd span {
  font-size: 16px;
  color: rgb(100, 100, 100);
}
.section .library_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.section .library_wrap::after, .section .library_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  height: 550px;
  background-color: #fff;
  z-index: 5;
  opacity: 0.5;
}
.section .library_wrap::after {
  left: 0;
  width: calc(50% - 570px);
}
.section .library_wrap::before {
  right: 0;
  width: calc(50% - 570px);
}
.section .library_content {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
.section .library_content .library_slide {
  width: 500%;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.section .library_content .library_slide .item {
  width: 1140px;
  display: flex;
  margin: 20px auto;
}
.section .library_content .library_slide .item_box {
  padding: 15px;
  border: 1px solid #ddd;
  margin: 0 5px;
  box-shadow: 0 0 4px rgba(100, 100, 100, 0.5);
}
.section .library_content .library_slide .item_box a {
  display: block;
  margin: 0 0 15px 0;
  font-size: 25px;
  font-weight: bold;
}
.section .library_content .library_slide .item_box span {
  font-size: 12px;
}
.section .library_content .library_btn .prev, .section .library_content .library_btn .next {
  position: absolute;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 50px;
  height: 78px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .library_content .library_btn .prev {
  left: 0;
}
.section .library_content .library_btn .next {
  right: 0;
}
.section .library_content .library_btn .prev::before,
.section .library_content .library_btn .next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}
.section .library_content .library_btn .prev:hover::before,
.section .library_content .library_btn .next:hover::before {
  border-color: #ed2a61;
}
.section .library_content .library_btn .prev::before {
  transform: rotate(-135deg);
}
.section .library_content .library_btn .next::before {
  transform: rotate(45deg);
}
.section .library_dot {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.section .library_dot ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .library_dot ul li {
  margin: 5px;
  width: 12px;
  height: 12px;
  border: 1px solid #333;
  border-radius: 6px;
  transition: all 0.5s;
}
.section .library_dot ul li.on {
  background-color: #333;
}
.section .keyword {
  width: 1140px;
  margin: 30px auto;
}
.section .keyword_hd {
  margin: 30px 0;
}
.section .keyword_hd h3 {
  font-size: 25px;
}
.section .keyword_hd p {
  color: #808080;
  margin: 5px 0 20px;
}
.section .keyword_content {
  width: 1200px;
  height: 330px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.section .keyword_content div {
  width: 275px;
  height: 150px;
  margin: 0 15px 15px 0;
  position: relative;
}
.section .keyword_content div strong {
  display: block;
  padding: 15px;
}
.section .keyword_content div img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.section .bunchul {
  width: 100%;
  min-width: 1300px;
  background-image: url("../img/bunchul_main.png");
  background-position: center top;
  background-repeat: no-repeat;
}
.section .bunchul_inner {
  display: flex;
  width: 850px;
  margin: 0 auto;
  color: #fff;
  padding-top: 50px;
}
.section .bunchul_inner .inner_left {
  width: 70%;
}
.section .bunchul_inner .inner_left h4 {
  font-size: 35px;
  font-weight: lighter;
}
.section .bunchul_inner .inner_left h3 {
  font-size: 35px;
  margin-bottom: 50px;
}
.section .bunchul_inner .inner_left p {
  margin-bottom: 10px;
}
.section .bunchul_inner .inner_left a {
  color: #fff;
}
.section .bunchul_inner .inner_right {
  width: 30%;
  text-align: right;
}
.section .bunchul_inner .inner_right h3 {
  font-size: 35px;
}
.section .bunchul_inner .inner_right p {
  font-size: 20px;
}
.section .bunchul_inner .inner_right img {
  position: relative;
  z-index: 3;
}
.section .bunchul_list {
  width: 60%;
  margin: 0 auto;
  transform: translateY(-100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .bunchul_list li {
  margin: 10px;
  border-radius: 22px;
  box-shadow: 1px 1px 4px rgba(100, 100, 100, 0.5);
}
.section .bunchul_review {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  margin-top: -80px;
  margin-bottom: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}
.section .bunchul_review .bunchul_slide {
  width: 500%;
  padding: 10px 30px;
  display: flex;
}
.section .bunchul_review .bunchul_slide li {
  width: 100%;
}
.section .bunchul_review .bunchul_slide li .review_txt strong {
  display: block;
  margin: 0 0 15px 0;
  font-size: 18px;
}
.section .bunchul_review .bunchul_slide li .review_txt span {
  font-size: 14px;
  color: #808080;
}
.section .bunchul_review .bunchul_btn span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.section .bunchul_review .bunchul_btn .prev {
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/prev_off.png);
  background-size: cover;
}
.section .bunchul_review .bunchul_btn .prev:hover {
  background-image: url(../img/prev_on.png);
  background-size: cover;
}
.section .bunchul_review .bunchul_btn .next {
  display: block;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/next_off.png);
  background-size: cover;
}
.section .bunchul_review .bunchul_btn .next:hover {
  background-image: url(../img/next_on.png);
  background-size: cover;
}
.section .bunchul_review img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
}
.section .outro {
  width: 100%;
  min-width: 1300px;
  height: auto;
}
.section .outro_desc {
  width: 1140px;
  margin: 40px auto;
  display: flex;
}
.section .outro_desc .outro_item {
  width: 300px;
}
.section .outro_desc .outro_item h3 {
  font-size: 25px;
}
.section .outro_desc .outro_item .bar {
  width: 30px;
  height: 5px;
  background-color: #111;
  margin: 10px 0;
}
.section .outro_desc .outro_item h4 {
  font-size: 20px;
  margin: 10px 0;
}
.section .outro_desc .outro_item p {
  color: rgb(100, 100, 100);
}
.section .outro_desc .outro_item p.first {
  color: rgb(50, 50, 50);
  font-weight: 600;
}
.section .outro .last {
  font-size: 25px;
}
.section .cardnews {
  width: 100%;
}
.section .cardnews_title {
  width: 1140px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.section .cardnews_title h3 {
  font-size: 25px;
}
.section .cardnews_title p {
  color: #808080;
  margin: 5px 0 20px;
}
.section .cardnews_content {
  width: 1140px;
  margin: 0 auto;
  height: 609px;
  background-color: rgb(50, 50, 50);
  position: relative;
}
.section .cardnews_content span {
  float: left;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
}
.section .cardnews_content span img {
  width: 100%;
  height: 100%;
}
.section .cardnews_content span:first-child {
  width: 704px;
  height: 569px;
}
.section .cardnews_content span + span {
  width: 183px;
  height: 183px;
}
.section .cardnews_content .plus {
  position: absolute;
  bottom: 15px;
  right: 25px;
}
.section .cardnews_content .side {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;
}
.section .cardnews_icon {
  width: 1140px;
  margin: 0 auto;
  height: 60px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section .cardnews_icon span {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.section .cardnews_icon span.keep {
  background-image: url("../img/btn_keep.png");
  background-repeat: no-repeat;
}
.section .cardnews_icon span.cart {
  background-image: url("../img/btn_cart.png");
  background-repeat: no-repeat;
}
.section .notice {
  width: 100%;
  height: 70px;
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.section .notice div {
  width: 1140px;
  padding: 20px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.section .notice div span {
  display: block;
  width: 100px;
  text-align: center;
}
.section .notice div p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}