@charset "UTF-8";

@mixin layout($margin:0) {
    width: 80%;
    margin: $margin auto;
}

@mixin flex($con:center) {
    display: flex;
    justify-content: $con;
    align-items: center;
}

@mixin overfont($size) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: $size;
}
