@charset "UTF-8";

@import "layout.scss";

header{
    width: 100%;
    .hdtop{
        width: 100%;
        height: 5px;
        background-color: #192c8d;
    }
    .hdgroup{
        display: flex;
        justify-content: flex-end;
        ul{
            display: flex;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            margin-top: 15px;
            margin-right: 30px;
            li{
                margin: 5px 5px;
            }
        }
    }
    .hdmain{
        @include layout();
        margin-top: 70px;
        .main_front{
            display: flex;
            align-items: center;
            .logo{
                margin-right: 20px;
            }
            .searchbox{
                border: 2px solid #222;
                display: flex;
                align-items: center;
                border-radius: 8px;
                width: 540px;
                height: 54px;
                input[type="text"]{
                    border: none;
                    width: 100%;
                    outline: none;
                    padding: 10px;
                    font-size: 16px;
                }
                #sch_btn{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .main_back{
            width: 100%;
            display: flex;
            margin-top: 50px;
            align-items: center;
            .category{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #222;
                color: #fff;
                padding: 10px;
                min-width: 180px;
                img{
                    width: 22px;
                    height: 30px;
                }
            }
            .guideline{
                padding-left: 40px;
                margin-right: 20px;
                .guide{
                    width: 100%;
                    max-width: 825px;
                    overflow: hidden;
                    ul{
                        width: 1650px;
                        font-size: 12px;
                        height: 100%;
                        transition: all 0.5s;
    
                        li{
                            width: 165px;
                            height: 48px;
                            float: left;
                            padding-top: 10px;
                            a{
                                img{
                                    float: left;
                                    margin-right: 10px;
                                }
                                span{
                                    display: block;
                                }
                            }
                            
                        }
                    }
                }
            }
            .guide_btn{
                padding-top: 10px;
                display: flex;
                span{
                    margin: 5px;
                }
                #prev1{
                    display: block;
                    width: 32px;
                    height: 32px;
                    background-image: url(../img/prev_off.png);
                    &:hover{
                        background-image: url(../img/prev_on.png);
                    }
                }
                #next1{
                    display: block;
                    width: 32px;
                    height: 32px;
                    background-image: url(../img/next_off.png);
                    &:hover{
                        background-image: url(../img/next_on.png);
                    }
                }
            }
            
        }
    }
}
footer{
    
}