@charset "UTF-8";

@import "layout.scss";

@mixin todaybook {
    ul{
        @include layout();
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            width: 260px;
            height: 400px;
            margin: 10px 20px 0 0;
            a{
                padding: 10px;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 20px;
                background: linear-gradient(to bottom, #f9f5ff,transparent);
                *{
                    margin: 10px 0;
                }
                p{
                    &.con{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                small{
                    color:#898989;
                }
            }
        }
    }
}

.section{
    width: 100%;
    .sec_main{
        width: 100%;
        height: 400px;
        background: linear-gradient(to top,rgba(230,230,230,0.1)50%,#e4e4f4);
        position: relative;
        
        .main_tap{
            @include layout();
            .tap_menu{
                width: 180px;
                height: 100%;
                color: #fff;
                position: relative;
                z-index: 1000;
                li{
                    padding: 0 20px;
                    height: 57px;
                    line-height: 57px;
                    background-color: rgba(42,42,42,0.8);
                    &.on{
                        background-color: rgba(10,10,10,1);
                    }
                }
            }
        }
        .main_visual{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            .visual_wrapper{
                width: 100%;
                height: 100%;
                padding-top: 50px;
                position: relative;
                .visual_slide{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &:not(:first-of-type){
                        visibility: hidden;
                    }
                    .viewport{
                        width: 100%;
                        height: 100%;
                    }
                    .visual_view{
                        width: 2600px;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        li{
                            width: 480px;
                            height: 300px;
                            margin-right: 40px;
                            float: left;
                            border-radius: 10px;
                            background: linear-gradient(to bottom, #f9f5ff,#fff);
                            position: absolute;
                            left: 0;
                            cursor: pointer;
                            .au{
                                display: block;
                                padding: 10px 0 0 10px;
                                color:#999;
                                font-weight: bold;
                            }
                            strong{
                                display: inline-block;
                                width: 270px;
                                font-size: 22px;
                                padding: 10px;
                            }
                            .thumb{
                                width: auto;
                                height: auto;
                                box-shadow: 4px 4px 4px #333;
                                img{
                                    width: 150px;
                                    height: 200px;
                                    position: absolute;
                                    right: 50px;
                                    top:50px;
                                    box-shadow: 4px 0 6px 1px #ddd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .today{
        width: 100%;
        background: linear-gradient(to bottom, #e4e4f4,#fff);
        .todayMD{
            @include layout();
            padding: 30px 0;
            h3{
                font-size: 25px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .todayBook{
            @include todaybook;
            text-align: center;
        }
    }
    .best{
        width: 100%;
        .best_container{
            @include layout(30px);
            .best_hd{
                font-size: 25px;
            }
            .best_cg{
                margin: 30px 0 15px 0;
                ul{
                    @include flex();
                    li{
                        padding: 5px 10px;
                        border:1px solid #111;
                        border-radius: 20px;
                        margin: 5px;
                        width: 150px;
                        text-align: center;
                        transition: all 0.5s;
                        &.on{
                            color: #fff;
                            background-color: #e4e4f4;
                            border-color: #e4e4f4;
                        }
                    }
                }
            }
            .best_box{
                border-top: 1px solid rgb(100,100,100);
                border-bottom: 1px solid rgb(100,100,100);
                width: 100%;
                height: 700px;
                display: flex;
                .txt_item{
                    width: 25%;
                    height: 100%;
                    overflow: auto;
                    &::-webkit-scrollbar{
                        width: 3px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: #111;
                    }
                    &::-webkit-scrollbar-track{
                        background-color: rgba(100,100,100,0.5);
                    }
                    ul{
                        width: 100%;
                        &:not(:first-of-type){
                            display: none;
                        }
                        a{
                            display: block;
                            border-bottom: 1px solid rgba(100,100,100,0.5);
                            padding: 15px 5px;
                            font-size: 14px;
                            color: #808080;
                            transition: all 0.5s;
                            &.on{
                                border-bottom: 3px solid rgb(0,50,150);
                            }
                        }
                    }
                }
                .img_item{
                    width: 75%;
                    height: 100%
                }
            }
        }
    }
}
