@charset "UTF-8";

@mixin todaybook {
    ul{
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            width: 260px;
            height: 400px;
            margin: 10px 20px 0 0;
            a{
                padding: 10px;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 20px;
                @include bgcolor();
                *{
                    margin: 10px 0;
                }
                p{
                    &.con{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                small{
                    color:#898989;
                }
            }
        }
    }
}

.section{
    width: 100%;
    .sec_main{
        width: 100%;
        height: 400px;
        background-color: #4c4c4c;
        position: relative;
        .main_tap{
            width: 75%;
            margin: 0 auto;
            .tap_menu{
                width: 180px;
                height: 100%;
                color: #fff;
                position: relative;
                z-index: 1000;
                li{
                    padding: 0 20px;
                    height: 57px;
                    line-height: 57px;
                    background-color: rgba(42,42,42,0.8);
                    &.on{
                        background-color: rgba(10,10,10,1);
                    }
                }
            }
        }
        .main_visual{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            .visual_wrapper{
                width: 100%;
                height: 100%;
                padding-top: 50px;
                position: relative;
                .visual_slide{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &:not(:first-of-type){
                        visibility: hidden;
                    }
                    .viewport{
                        width: 100%;
                        height: 100%;
                    }
                    .visual_view{
                        width: 2600px;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        li{
                            width: 480px;
                            height: 300px;
                            margin-right: 40px;
                            float: left;
                            background-color: #f5f5df;
                            position: absolute;
                            left: 0;
                            cursor: pointer;
                            .au{
                                display: block;
                                padding: 10px 0 0 10px;
                                color:#999;
                                font-weight: bold;
                            }
                            strong{
                                display: inline-block;
                                width: 270px;
                                font-size: 22px;
                                padding: 10px;
                            }
                            .thumb{
                                width: auto;
                                height: auto;
                                box-shadow: 4px 4px 4px #333;
                                img{
                                    width: 150px;
                                    height: 200px;
                                    position: absolute;
                                    right: 50px;
                                    top:50px;
                                    box-shadow: 4px 0 6px 1px #ddd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .today{
        width: 100%;
        background: linear-gradient(to bottom, #e4e4f4,#fff);
        .todayMD{
            width: 75%;
            margin: 0 auto;
            padding: 30px 0;
            h3{
                font-size: 25px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .todayBook{
            @include todaybook;
            text-align: center;
        }
    }
}