@charset "UTF-8";

@import "layout.scss";

@mixin todaybook {
    ul{
        @include layout();
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            width: 20%;
            height: auto;
            margin: 10px 20px 0 0;
            a{
                padding: 10px;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 20px;
                background: linear-gradient(to bottom, #f9f5ff,transparent);
                *{
                    margin: 10px 0;
                }
                p{
                    &.con{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                small{
                    color:#898989;
                }
            }
        }
    }
}

.section{
    width: 100%;
    /* 메인슬라이드 */
    .sec_main{
        width: 100%;
        height: 400px;
        background: linear-gradient(to top,rgba(230,230,230,0.1)50%,#e4e4f4);
        position: relative;
        .event_tap{
            width: 100%;
            height: 100%;
            .event_li{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                justify-content: center;
                z-index: -1;
                &.on{
                    display: flex;
                    z-index: 100;
                }
            }
        }
        .main_tap{
            @include layout();
            .tap_menu{
                width: 180px;
                height: 100%;
                color: #fff;
                position: absolute;
                top:0;
                z-index: 1000;
                li{
                    padding: 0 20px;
                    height: 57px;
                    line-height: 57px;
                    background-color: rgba(42,42,42,0.8);
                    &.on{
                        background-color: rgba(10,10,10,1);
                    }
                }
            }
        }
        .main_visual{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            .visual_wrapper{
                width: 100%;
                height: 100%;
                padding-top: 50px;
                position: relative;
                .visual_slide{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &:not(:first-of-type){
                        visibility: hidden;
                    }
                    .viewport{
                        width: 100%;
                        height: 100%;
                    }
                    .visual_view{
                        width: 2600px;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        li{
                            width: 480px;
                            height: 300px;
                            margin-right: 40px;
                            float: left;
                            border-radius: 10px;
                            background: linear-gradient(to bottom, #f9f5ff,#fff);
                            position: absolute;
                            left: 0;
                            cursor: pointer;
                            .au{
                                display: block;
                                padding: 10px 0 0 10px;
                                color:#999;
                                font-weight: bold;
                            }
                            strong{
                                display: inline-block;
                                width: 270px;
                                font-size: 22px;
                                padding: 10px;
                            }
                            .thumb{
                                width: auto;
                                height: auto;
                                box-shadow: 4px 4px 4px #333;
                                img{
                                    width: 150px;
                                    height: 200px;
                                    position: absolute;
                                    right: 50px;
                                    top:50px;
                                    box-shadow: 4px 0 6px 1px #ddd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* 오늘의 책 */
    .today{
        width: 100%;
        background: linear-gradient(to bottom, #e4e4f4,#fff);
        .todayMD{
            @include layout();
            padding: 30px 0;
            h3{
                font-size: 25px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .todayBook{
            @include todaybook;
            text-align: center;
        }
    }
    /* 공부서점 차트 */
    .best{
        width: 100%;
        .best_container{
            @include layout(30px);
            
            .best_hd{
                font-size: 25px;
            }
            .best_cg{
                margin: 30px 0 15px 0;
                ul{
                    @include flex();
                    li{
                        padding: 5px 10px;
                        border:1px solid #111;
                        border-radius: 20px;
                        margin: 5px;
                        width: 150px;
                        text-align: center;
                        transition: all 0.5s;
                        &.on{
                            color: #fff;
                            background-color: #e4e4f4;
                            border-color: #e4e4f4;
                        }
                    }
                }
            }
            .best_box{
                border-top: 1px solid rgb(100,100,100);
                border-bottom: 1px solid rgb(100,100,100);
                width: 100%;
                height: 730px;
                display: flex;
                .txt_item{
                    width: 25%;
                    height: 100%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    overflow: auto;
                    &::-webkit-scrollbar{
                        width: 3px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: #111;
                    }
                    &::-webkit-scrollbar-track{
                        background-color: rgba(100,100,100,0.5);
                    }
                    ul{
                        width: 100%;
                        &:not(:first-of-type){
                            display: none;
                        }
                        a{
                            display: block;
                            border-bottom: 1px solid rgba(100,100,100,0.5);
                            padding: 15px 5px;
                            font-size: 14px;
                            color: #808080;
                            transition: all 0.5s;
                            &.on{
                                border-bottom: 3px solid rgb(0,50,150);
                            }
                        }
                    }
                }
                .img_item{
                    width: 75%;
                    height: 100%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    padding: 20px 0;
                    overflow: hidden;
                    .img_li{
                        @include flex(space-evenly);
                        flex-wrap:wrap;
                        height: 100%;
                        li{
                            width: 17%;
                            max-width: 180px;
                            height: 310px;
                            margin-left: 15px;
                            position: relative;
                            flex-shrink: 1;
                            .img_desc{
                                margin: 10px 0;
                                *{
                                    margin: 5px 0;
                                }
                            }
                            .img_idx{
                                position: absolute;
                                top: -15px;
                                left: -1px;
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                display: block;
                                background-color: rgb(50,50,50);
                                color: #fff;
                                text-align: center;
                                font-size: 12px;
                            }
                            .img_thumb{
                                border: 1px solid #ddd;
                                width: 100%;
                                height: 200px;
                                text-align: center;
                                padding-top: 10px;
                            }
                            .img_title{
                                @include overfont(15px);
                            }
                            .img_au,.img_pub{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 눈돌리기 */
    .recom{
        @include layout(50px);
        .recom_hd{
            border-bottom: 1px solid rgba(100,100,100,0.5);
            @include hd_shot;
        }
        .recom_content{
            ul{
                @include flex;
                height:100%;
                margin: 20px 0 40px 0;
                padding: 10px 0;
                li{
                    width: 100%;
                    margin: 10px;
                    text-align: center;
                    .recom_thumb{
                        img{
                            width: 100%;
                            height: 100%;
                            border: 1px solid rgb(100,100,100);
                            padding: 5px;
                        }
                    }
                    .recom_desc{
                        text-align: left;
                        height: 60px;
                        *{
                            margin: 5px 0;  
                        }
                        .recom_genre{
                            font-size: 12px;
                        }
                        .recom_title{
                            @include overfont(15px);
                        }
                        .recom_au{
                            color:rgb(100,100,100);
                            font-size: 12px
                        }
                    }
                    
                }
            }
        }
        .recom_offer{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .latest{
        @include layout(50px);
        .latest_hd{
            border-bottom: 1px solid rgba(100,100,100,0.5);
            @include hd_shot;
        }
        .latest_content{
            ul{
                @include flex;
                height:100%;
                margin: 20px 0 40px 0;
                padding: 10px 0;
                li{
                    width: 100%;
                    margin: 10px;
                    text-align: center;
                    .latest_thumb{
                        img{
                            width: 100%;
                            height: 100%;
                            border: 1px solid rgb(100,100,100);
                            padding: 5px;
                        }
                    }
                    .latest_desc{
                        text-align: left;
                        height: 60px;
                        *{
                            margin: 5px 0;  
                        }
                        .latest_genre{
                            font-size: 12px;
                        }
                        .latest_title{
                            @include overfont(15px);
                        }
                        .latest_au{
                            color:rgb(100,100,100);
                            font-size: 12px
                        }
                    }
                    
                }
            }
        }
        .latest_offer{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .writer{
        width: 100%;
        overflow: hidden;
        .writer_hd{
            @include layout(30px);
            @include hd_shot;
        }
        .writer_slide{
            width:100%;
            height: 200px;
            overflow: hidden;
            @include flex;
            position: relative;
            .wrt{
                width: 150px;
                height: 150px;
                position: absolute;
                left: 0;
                height: auto;
                margin-right: 15px;
                a{
                    display: block;
                    border-radius: 60px;
                    overflow: hidden;
                    margin: 15px;
                    text-align: center;
                }
                span{
                    display: block;
                    text-align: center;
                    &:first-child{
                        font-weight: bold;
                    }
                    &:last-child{
                        font-size: 12px;
                    }
                }
            }
            
        }
    }
    .addon{
        @include layout(30px);
        .addon_hd{
            @include hd_shot;
            margin:30px 0
        }
        .addon_content{
            width:100%;
            height: 100%;
            ul{
                @include flex;
                li{
                    width:100%;
                    height: 300px;
                    margin: 10px;
                    a{
                        border: 1px solid #ddd;
                        display: block;
                        width: 100%;
                        height: 180px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    *{
                        margin-bottom: 5px;
                    }
                    h4{
                        @include overfont(18px)
                    }
                    &>span{
                        font-size: 12px;
                    }
                    p{
                        span{
                            color:#ff000f;
                        }
                    }
                }
            }
            
        }
    }
    .banner{
        width:100%;
        height: 120px;
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;
        ul{
            width:300%;
            height: 100%;
            overflow: hidden;
            @include flex;
            li{
                width: 100%;
                height: 63px;
                position: relative;
                div{
                    width: 80%;
                    margin: 0 auto;    
                }
                img{
                    position: absolute;
                    bottom: 0;
                }
              
            }
            .banner_last{
                img{
                    height: 86px;
                }
            }
        }
        .banner_btn{
            display: flex;
            justify-content: flex-end;
            width: 70%;
            min-width: 1091px;
            height: 100%;
            position: absolute;
            left: 100px;
            top:75px;
            a{
                display: inline-block;
                width: 14px;
                height: 14px;
                &.prev{
                    background-image: url('../img/banner_prev.png');
                }
                &.next{
                    background-image: url('../img/banner_next.png');
                }
            }
        }
    }
    .library{
        width: 100%;
        overflow: hidden;
        &_hd{
            @include layout(30px);
            @include hd_shot;
            span{
                font-size: 16px;
                color:rgb(100,100,100)
            }
        }
        &_wrap{
            width: 100%;
            height: 100%;
            position: relative;
            &::after,&::before{
                content: '';
                position: absolute;
                top:0;
                height: 550px;
                background-color: #fff;
                z-index: 5;
                opacity: .5;
            }
            &::after{
                left: 0;
                width: calc(50% - (570px));
            }
            &::before{
                right: 0;
                width: calc(50% - (570px));
            }
        }
        &_content{
            width: 1140px;
            margin: 0 auto;
            position: relative;
            .library_slide{
                width: 500%;
                margin: 0 auto;
                display: flex;
                position: relative;
                .item{
                    width: 1140px;
                    display: flex;
                    margin: 20px auto;
                }
                .item_box{
                    padding: 15px;
                    border: 1px solid #ddd;
                    margin: 0 5px;
                    box-shadow: 0 0 4px rgba(100,100,100,0.5);
                    a{
                        display: block;
                        margin: 0 0 15px 0;
                        font-size: 25px;
                        font-weight: bold;
                    }
                    span{
                        font-size: 12px
                    }
                }
            }
            .library_btn{
                .prev,.next{
                    position: absolute;
                    bottom:0;
                    top:50%;
                    transform: translateY(-50%);
                    display: block;
                    width: 50px;
                    height: 78px;
                    font-size: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .prev{
                    left: 0;
                }
                .next{
                    right: 0;
                }
                .prev::before,
                .next::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    border: 3px solid #000;
                    border-width: 3px 3px 0 0;
                    transition: border 0.1s;
                }
                .prev:hover::before,
                .next:hover::before {
                    border-color: #ed2a61;
                }
                .prev::before {
                    transform: rotate(-135deg);
                }
                .next::before {
                    transform: rotate(45deg);
                            }
            }
        }
        &_dot{
            @include layout;
            margin-bottom: 100px;
            ul{
                @include flex;
                li{
                    margin: 5px;
                    width: 12px;
                    height: 12px;
                    border:1px solid #333;
                    border-radius: 6px;
                    transition: all 0.5s;
                    &.on{
                        background-color: #333;
                    }
                }
            }
        }
    }
    .keyword{
        @include layout(30px);
        &_hd{
            @include hd_shot;
            margin: 30px 0;
        }
        &_content{
            width: 1200px;
            height: 330px;
            @include flex(flex-start);
            flex-wrap: wrap;
            div{
                width: 275px;
                height: 150px;
                margin: 0 15px 15px 0;
                position: relative;
                strong{
                    display: block;
                    padding: 15px
                }
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }

    }
    .bunchul{
        width: 100%;
        min-width: 1300px;
        // height: 800px;
        background-image: url('../img/bunchul_main.png');
        background-position: center top;
        background-repeat: no-repeat;
        &_inner{
            display: flex;
            width: 850px;
            margin: 0 auto;
            color: #fff;
            padding-top: 50px;
            .inner_left{
                width: 70%;
                h4{
                    font-size: 35px;
                    font-weight: lighter;
                }
                h3{
                    font-size: 35px;
                    margin-bottom: 50px;
                }
                p{
                    margin-bottom: 10px;
                }
                a{
                    color: #fff;
                }
            }
            .inner_right{
                width: 30%;
                text-align: right;
                h3{
                    font-size: 35px;
                }
                p{
                    font-size: 20px
                }
                img{
                    position: relative;
                    z-index: 3;
                }
            }
        }
        &_list{
            width: 60%;
            margin: 0 auto;
            transform: translateY(-100px);
            @include flex;
            li{
                margin: 10px;
                border-radius: 22px;
                box-shadow: 1px 1px 4px rgba(100,100,100,0.5);
            }
        }
        &_review{
            width: 60%;
            height: 100px;
            margin: 0 auto;
            margin-top: -80px;
            margin-bottom: 50px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            position: relative;
            overflow: hidden;
            .bunchul_slide{
                width: 500%;
                padding: 10px 30px;
                display: flex;
                li{
                    width: 100%;
                    .review_txt{
                        strong{
                            display: block;
                            margin: 0 0 15px 0;
                            font-size: 18px;
                        }
                        span{
                            font-size: 14px;
                            color:#808080
                        };
                    }
                }
            }
            .bunchul_btn{

                span{
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
                .prev{
                    display: block;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background-image: url(../img/prev_off.png);
                    background-size: cover;
                    &:hover{
                        background-image: url(../img/prev_on.png);
                        background-size: cover;
                    }
                }
                .next{
                    display: block;
                    right: 0;
                    width: 20px;
                    height: 20px;
                    background-image: url(../img/next_off.png);
                    background-size: cover;
                    &:hover{
                        background-image: url(../img/next_on.png);
                        background-size: cover;
                    }
                }
            }
            img{
                width: 80px;
                height: 80px;
                float: left;
                margin-right: 20px;
            }
        }
    }
    .outro{
        width: 100%;
        min-width: 1300px;
        height: auto;
        &_desc{
            @include layout(40px);
            display: flex;
            .outro_item{
                width: 300px;
                h3{
                    font-size: 25px;
                }
                .bar{
                    width: 30px;
                    height: 5px;
                    background-color: #111;
                    margin: 10px 0;
                }
                h4{
                    font-size: 20px;
                    margin: 10px 0;
                }
                p{
                    color:rgb(100,100,100);
                    &.first{
                        color: rgb(50,50,50);
                        font-weight: 600;
                    }
                }
            }
            
        }
        .last{
            font-size: 25px;
        }
    }
    .cardnews{
        width: 100%;
        &_title{
            width: 1140px;
            margin: 30px auto;

            @include hd_shot;
            display: flex;
            justify-content: space-between;
        }
        &_content{
            width: 1140px;
            margin: 0 auto;
            height: 609px;
            background-color: rgb(50,50,50);
            position: relative;
            span{
                float:left;
                display: inline-block;
                margin-left: 15px;
                margin-top: 15px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            span:first-child{
                width: 704px;
                height: 569px;
            }
            span + span{
                width: 183px;
                height: 183px;
                
            }
            .plus{
                position: absolute;
                bottom:15px;
                right: 25px;
            }
            .side{
                width: 80px;
                height: 80px;
                position: absolute;
                z-index: 5;
                right: 0;
                bottom: 0;
            }
        }
        &_icon{
            width: 1140px;
            margin: 0 auto;
            height: 60px;
            background-color: #f2f2f2;
            @include flex(flex-end);
            span{
                display: inline-block;
                width: 36px;
                height: 36px;
                margin-right: 10px;
                &.keep{
                    background-image: url('../img/btn_keep.png');
                    background-repeat: no-repeat;
                }
                &.cart{
                    background-image: url('../img/btn_cart.png');
                background-repeat: no-repeat;
                }
            }
        }
    }
    .notice{
        width: 100%;
        height: 70px;
        margin-top: 50px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        div{
            width: 1140px;
            padding: 20px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            span{
                display: block;
                width:100px;
                text-align: center;
            }
            p{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
